.body{
    font-family: 'Nunito Sans', sans-serif;
   
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header{
    border-bottom: 1px solid #DEDEDE;

}
.header{
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;

}
.header-logo{
   display: block;
   background-image: url(../img/logo.svg);
   width: 176px;
   height: 56px;
   background-repeat: no-repeat;
   background-size: cover;
}
.header-nav{
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 46px;
}
.header-nav a{
    font-weight: 600;
    font-size: 20px;
    color: #443737;
    text-decoration: none;
}
.header-nav a:hover{
     color: #FFC725;
    
}
.header-nav a::after{
    content: '';
    width: 100%;
    height: 3px;
    border: 1.5px;
    background: transparent;
    display: block;

}
.header-nav a.active::after{
    background: #FFC725;
    
}
.button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
    
    
}

    
.button-count{
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background: #F37335;
    padding: 1px 5px;
    border-radius: 100%;
    position: relative;
    width: 17px;
    height: 17px;
    position: relative;
    bottom: 5px;
    right: 9px;
      
}
.button-text{
    color: #443737;
    font-weight: 700;
    font-size: 15px;
    
}
.bg{
    text-align: center;
    color: #FFFFFF;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    padding: 142px 0;
    background-position: center center;
    margin-bottom: 140px;
}
.breadcrumbs{
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.breadcrumbs a {
    color:#DEDEDE;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;

}
.breadcrumbs a:hover{
    color: #FFC725;
}


.breadcrumbs a::before{
    content: '/';
    position: relative;
    left: -7px;
    pointer-events: none;
}
.breadcrumbs a:hover::before{
    color:#DEDEDE;
}
.title{
    font-weight: 700;
    font-size: 79px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.descprition{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;


}
.banner-box{
    
    background-image: url(../img/banner.jpg);
    text-align: left;
    background-size: cover;
    padding: 142px 0;
    background-position: center center;
    margin-bottom: 100px;

}



.banner-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-image: url(../img/bg1.jpg);
    border-radius: 5px;
    width: 170px;
    height: 58px;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #1E2F40;
    margin-left: 70px;

       
}
.banner-text{
    color: #FAF9F9;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-right: 720px;
    padding-left: 70px;
    
    
}
.banner-title{

    font-family: 'Nunito Sans';
    color: #FFFFFF;
    font-weight: 900;
    font-size: 60px;
    padding-left: 70px;
    margin-bottom: -5px;

}
.banner h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: #F37335;
    border-radius: 14px;
    width: 95px;
    height: 28px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 70px;
    margin-bottom: -35px;
    
    
    

}
.menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-title{
    font-size: 44px;
    font-family: 'Nunito Sans';
    font-weight: 700;
    text-transform: uppercase;
    color: #1B2A49;
    margin: 34;

}
.menu-select{
    font-family: 'Open Sans';
    border: 0.5px solid #DEDEDE;
    padding: 10px 30px;
    border-radius: 22px;
    color: #443737;
    font-size: 20px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../img/Arrow.svg);
    background-size: 12.79px 7.75px;
    background-repeat: no-repeat;
    background-position: 95% center;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.menu-grid-cover{
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;

}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}
.menu-grid-btn{
    width: 152px;
    height: 38px;
    background: #FBB731;
    border-radius: 5px;
    margin-left: 114px;
    margin-top: -50px;
    background-image: url(../img/cart-menu.svg);
    background-repeat: no-repeat;
    background-position: 15% center;
    
    
    
}
.menu-grid-text{
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #1E2F40;
    
    
}
.menu-grid-title{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #1B2A49;
    margin-left: 85px;
    margin-top: 10px;
    
       
}
.menu-grid-price{
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 20px;
    color: #979797;
    text-align: center;
    margin-top: -30px;
    
}

   


